@import "./mixins";
@import "./variables";

//todo box styling
.todo_box {
  @include marginTopAndBottom(5%, 5%);
  padding: 2%;
  width: 40%;
  border-radius: 30px;
  box-shadow: $boxShadow;
  background: linear-gradient(to bottom, $boxbackground, $white);
}

//todo list items and completed list items styling
.listItem,
.completed_listItem {
  margin: 4%;
}

//common styling for all list items
li {
  @include flexJustifyContent(space-between);
}

//styling for to do title
.todo_title {
  text-align: center;
  color: $whitesmoke;
}

//styling for to do todo content
.todo_content_box {
  .btn_add {
    @include blockDisplayAndMarginAuto();
    width: 10%;
  }

  button {
    border-radius: 20px;
    background: linear-gradient(to bottom, $buttonbackground, $white);
  }

  .search_bar {
    input {
      border-radius: 20px;
    }
    margin-top: 10px;
    @include flexJustifyContent(space-evenly);
  }

  .completed_list {
    ul {
      li {
        button {
          text-decoration: none;
        }
      }
    }
  }
}
